<h1>Ajax#index</h1>
<p id="hoge">赤色になるよ</p>

<script>
  $("#hoge").css("color","red")

  // $(function(){
  //   $('.box1').css({
  //     'background-color':'#0000FF',
  //     'height':'100px'
  //   });
  // });

  // $(function(){
  //   $('.box1').slideDown();
  // });

  // $(function(){
  //   $('.box1').slideUp();
  // });

  // $(function(){
  //   $('.box1').show();
  //   $('.box1').css({'background-color':'#0000FF'});
  // });

  // $(function(){
  //   $('.box1').hide();
  // });

  // $(function (){
  //   $('.box1').slideDown(function (){
  //     $('.box1').css({
  //       'background-color': '#0000FF',
  //       'width': '200px',
  //       'height': '200px'
  //     }).slideUp();
  //   });
  // });

  // $(function(){
  //   $('.box1').mouseover(function(){
  //     $('.box1').css({'background-color':'#0000FF'});
  //   });
  //   $('.box1').mouseout(function(){
  //     $('.box1').css({'background-color':'#FF0000'});
  //   });
  // });

  // $(function(){
  //   $('.box1').mouseover(function(){
  //     $('.box1').addClass('box1-ext');
  //   });
  //   $('.box1').mouseout(function(){
  //     $('.box1').removeClass('box1-ext');
  //   });
  // });

  // $(function(){
  //   $('.box1').on('click',function(){
  //     $('.box1').addClass('box1-ext');
  //   });
  //   // $('.box1').mouseover(function(){
  //   //   $('.box1').css({'background-color':'#0000FF'});
  //   // });
  //   $('.box1').mouseout(function(){
  //     $('.box1').removeClass('box1-ext');
  //   });
  // });

  // $(function(){
  //   $('.bg1').on('click', function(){
  //     $('.bg1').slideUp();
  //   });

  //   $('.bg2').on('click', function(){
  //     $('.bg2').slideUp();
  //   });

  //   $('.bg3').on('click', function(){
  //     $('.bg3').slideUp();
  //   });

  //   $('.bg4').on('click', function(){
  //     $('.bg4').slideUp();
  //   });
  // });

  // $(function(){
  //   $('.box1').on('click', function(){
  //     $(this).slideUp();
  //   });
  // });

  // $(function(){
  //   $('button').on('click', function(){
  //     $('ul').children().css('color','red');
  //   });
  // });

  $(document).ready(function () {
    $("#images").skippr({
      // スライドショーの変化 ("fade" or "slide")
      transition : 'slide',
      // 変化に係る時間(ミリ秒)
      speed : 1000,
      // easingの種類
      easing : 'easeOutQuart',
      // ナビゲーションの形("block" or "bubble")
      navType : 'block',
      // 子要素の種類("div" or "img")
      childrenElementType : 'div',
      // ナビゲーション矢印の表示(trueで表示)
      arrows : true,
      // スライドショーの自動再生(falseで自動再生なし)
      autoPlay : true,
      // 自動再生時のスライド切替間隔(ミリ秒)
      autoPlayDuration : 3000,
      // キーボードの矢印キーによるスライド送りの設定(trueで有効)
      keyboardOnAlways : true,
      // 一枚目のスライド表示時に戻る矢印を表示するかどうか(falseで非表示)
      hidePrevious : false
    });
  });
</script>

<!--<div class="box1"></div>-->

<!--<div class="box">-->
<!--  <div class="box1 bg1"></div>-->
<!--  <div class="box1 bg2"></div>-->
<!--  <div class="box1 bg3"></div>-->
<!--  <div class="box1 bg4"></div>-->
<!--</div>-->

<!--<h1>childrenサンプル</h1>-->
<!--<button>クリック</button>-->
<!--<h3>リスト</h3>-->
<!--<ul>-->
<!--  <li>Home</li>-->
<!--  <li>Concept</li>-->
<!--  <li>Products</li>-->
<!--  <li>Access</li>-->
<!--</ul>-->

<div id="box">
  <div id="images">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
    <div class="image5"></div>
  </div>
</div>



